<html>
  <head>
  <title>Create Client</title>
  </head>
  <body>
    <h1>New Client</h1>
      <form action="/client" method="post">
        <label for ="new-client">Add a new client.</label>
        <input id ="new-client" name="new-client" type="text">
        <button type="submit">Submit</button>
      </form>
  <body>
</html>
