<!DOCTYPE>
<html>
<head>
<title>Clients Home Page</title>
</head>
  <body>
      <div class='container'>

        <hr/>

        <h1>Clients</h1>
        @if (@Model.Count == 0)
        {
          <h4>Empty!</h4>
        }
        @foreach (var client in Model)
        {
          <h3><a href='/client/@client.GetClientId()'>@client.GetClient()</a></h3>
        }
        <a href='/stylist/new'><button class='btn btn-success'>Click to add stylist</button></a>
        <a href = '/client/new'><button class='btn btn-success'>Click to add client</button></a>
        <a href='/stylist'><button class='btn btn-warning'>Click to see all employees</button></a>
        <a href = '/specialist'><button class='btn btn-warning'>Click to see all specialist</button></a>
        <a href = '/client/delete'><button class='btn btn-danger'>Delete Clients</button></a>
        <a href='/'><button class='btn btn-success'>Back Home</button></a>
      </div>
    </body>
</html>
