<!DOCTYPE>
<html>
<head>
  <title>Create a new specialist</title>
</head>
<body>

<h1>Add a specialty to a stylist</h1>
<form action = "/specialist" method="post">
  <label for ="new-specialist">Enter a specialty!</label>
  <input id ="new-specialist" name="new-specialist" type="text">
  <button type="submit">Submit</button>
</form>
</body>
</html>
