<!--Nav Tabs-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Stylists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/specialty">Specialties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/client">Clients</a>
  </li>
</ul>
<br><br>

<div class="row">
  <div class="col-md-4" id="sidebar">
    <form action="/stylist/@Model.Id/newClient" method="post">
      <h3>Add a New Client</h3>
      <div class="form-group">
        <label for="clientName">Name</label>
        <input class="form-control" name="clientName" type="text" placeholder="First Last">
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
  <div class="col-md-8" id="content">
    <h1>@Model.Name</h1>
    <hr />
    @foreach (var item in Model.GetClients())
    {
      <h4>@item.Name</h4>
    }
    <br>
    <a href="/" class='btn btn-primary'>Back to Stylists</a>
  </div>
</div>
