<h1>Bowl and Mullet Salon</h1>

<div class="container">
<h3><a href="/stylist">Stylists Page</a></h3>
<h3><a href="/client">Clients Page</a></h3>
<h3><a href="/specialist">Specialist Page</a></h3>
</div>
