<!DOCTYPE>
<html>
<head>
  <title>Create a Stylist</title>
</head>
<body>
  <h1>Fill out new stylist form</h1>
  <form action = "/stylist" method="post">

    <label for ="new-stylist">Enter the name of the stylist</label>
    <input id ="new-stylist" name="new-stylist" type="text">

    <button type="submit">Submit</button>

  </form>
</body>
</html>
