<h1>@Model["employee"].GetName()</h1>
<ul>
  @foreach(var client in Model["client"])
  {
      <p>@client.GetClient()| Delete or Update:</p>
  }
</ul>
<form action='/employees/@Model["employee"].GetId()' method="post">
<div class="form-group">
  <input class="form-control" id="employee-id" name="employee-id" type="hidden" value='@Model["employee"].GetId()' />
  <label for="new-client">Add new client</label>
  <input class="form-control" id="new-client" name="new-client" type="text" />
  <button class="btn btn-primary" type="submit">submit</button>
</div>
</form>
<p>Go back <a href="/employees">Home</a>.</p>
</div>
</div>
