<!DOCTYPE>
<html>
<head>
  <title>Stylists</title>
</head>
<body>
  <h1>Salon Stylist Page</h1>
<div class='container'>
  <h1>Hair Salon: Stylists</h1>
  <hr />

  <h2>All Stylists</h2>
  @if (@Model.Count == 0)
  {
    <h4>Empty</h4>
  }
  @foreach (var stylist in Model)
  {
    <h3><a href='/stylist/@stylist.GetStylistId()'>@stylist.GetStylist()</a></h3>
  }

  <a href='/'><button class='btn btn-success'>Home</button></a>
<a href='/stylist/new'><button class='btn btn-success'>Click to add an Employees</button></a>
<a href = '/client/new'><button class='btn btn-success'>Click to add a client</button></a>
<hr/>
<a href = '/specialist'><button class='btn btn-warning'>Click to see Specialties</button></a>
<a href = '/client'><button class='btn btn-warning'>Click to see Clients</button></a>
<hr/>
<a href = '/stylist/delete'><button class='btn btn-danger'>Delete All Stylist</button></a>

</div>
</body>
</html>
