<!-- <h1>Current Employees</h1>


@foreach (var employee in @Model)
{
<li><a href='@employee.GetName()'</a></li>

}

<br>
<br>
<h2>Add new employee</h2>
<li><a href='/employee/new'>Click to add</a></li> -->
