<h1>Add a new employee</h1>
  <form action="/employees" method="post">
    <label for="newEmploy">Employee:</label>
    <input id="newEmploy" name="newEmploy" type="text"/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
