<div class="row">
    <div class="col-md-12">
        <h1>Add a new employee</h1>
    </div>
</div>
<div class="row">
    <div id="formEmployee">
        <form action="/employees" method="post">
            <label for="newemployee">Employee Name:</label>
            <input id="newemployee" name="newemployee" type="text"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
